body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("minecraft.webp");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header h1, .header h2 {
	margin: 0;
	color: white;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

.text {
	width: 800px;
	max-width: 80%;
	margin: auto;
	line-height: 1.5em;
	margin-bottom: 50px;
}

img {
	max-height: 400px;
}

.img-container {
	text-align: center;
}

.text span {
	display: block;
}

.text span:nth-child(even) {
	padding-left: 50px;
	padding-bottom: 20px;
}